:root {
    --color-white: #ececec;
    --color-charcoal: #333;
    --color-navy: #211f43;
    --color-dark-forest-green: #1f382f;
    --color-brick: #973c3f;
    --color-light-blue: #426b8c;
    --color-tan: #b99d82;
    --color-forest-green: #00662f;
    --color-gold: #f9be00;
    font-family: "Newsreader", Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

}

pre, code {
    font-family: "Monaspace Xenon", Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    font-optical-sizing: auto;
}

article {
    font-size: min(4.25vmin, 22px);
    font-optical-sizing: auto;
    max-width: 58ch;
    line-height: 1.38em;
    color: var(--color-charcoal);
    margin-left: 5em;
}

a {
    color: var(--color-forest-green)
}

p code {
    font-size: 0.85em;
}
li code {
    font-size: 0.85em;
}

pre {
    max-width: 80ch;
}

.eczar-display {
    font-family: Eczar, serif;
    font-optical-sizing: auto;
    font-weight: 600;
    letter-spacing: 0.015em;
    font-size: 2em;
}
