pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
generated/
/.shadow-cljs/
/node_modules/
test-resources/clojure-core.clj
.dir-locals.el
