{:aliases {:cljs {:extra-deps {org.clojure/clojurescript {:mvn/version
                                                          "1.11.54"}}}
           :test {:exec-fn     cognitect.test-runner.api/test
                  :extra-deps  {io.github.cognitect-labs/test-runner
                                {:git/url
                                 "https://github.com/cognitect-labs/test-runner"
                                 :sha
                                 "7284cda41fb9edc0f3bc6b6185cfb7138fc8a023"}}
                  :extra-paths ["test"]}}
 :deps    {rewrite-clj/rewrite-clj {:mvn/version "1.1.47"}}}
