{:builds {:test {:autorun   true
                 :ns-regexp "(forms|adorn-test)"
                 :output-to "generated/node-tests.js"
                 :target    :node-test}}
 :deps   {:aliases [:cljs :test]}}
